extends partials/base

block title
    title Gallery
    
block content
    #easyphotowall
    
block scripts
    include partials/scripts
    script(type="text/javascript").
        var gallery_name = {
            name: 'gallery_1455825681'        
        };
        
        var url = "{!! url('getGallery', $gallery->name) !!}";
        
        $.get(url, gallery_name, function(data){
            console.log(data);
            var photoshow = new Photowall({
                    data: data.images
                });
            photoshow.play();
        });
