doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        block title
            title Photoshow
        link(rel="stylesheet", href="{{ asset('css/master.css') }}")
        include favicon
body
    block content
    
    block scripts
    
